##  4.7:  Deriving New Variables

In [1]:
#  Import the pandas, NumPy, and os libraries

import numpy as np
import pandas as pd
import os

In [2]:
# Paths to/from project folder

path_orig = r'C:\Users\kacor\CareerFoundry-Python\PROJECT - Instacart Basket Analysis\02 Data\Original Data'
path_prep = r'C:\Users\kacor\CareerFoundry-Python\PROJECT - Instacart Basket Analysis\02 Data\Prepared Data'

In [3]:
#  Import orders_products_combined (from 4-6 part2, from Prepared folder) (name changed to ords_prods_merged_4-6)

df_ords_prods_merged = pd.read_pickle(os.path.join(path_prep, 'ords_prods_merged_4-6.pkl'))

In [4]:
df_ords_prods_merged.shape

(32404859, 13)

In [5]:
df = df_ords_prods_merged[:1000000]

In [6]:
df.shape

(1000000, 13)

In [7]:
#  Define price_label function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
#  Apply the function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\kacor\AppData\Local\Temp\ipykernel_42128\3803556981.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

In [11]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_was_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,both,Mid-range product

####  If-Statements with the loc() Function

In [12]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\kacor\AppData\Local\Temp\ipykernel_42128\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
# From left to right, the loc() function is being called on the df dataframe. And within the brackets, the values in the 
# “prices” column of the df dataframe are being compared to a value, 15, using the > operator. In normal language, then, 
# you could say “if the values in the ‘prices’ column of the df dataframe are greater than 15.”

# After the comma comes the implied “then.” Here, a new column called “price_range_loc” is being set equal to the string 
# “High-range product.” This is the same as the label you created in your user-defined function.




df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [16]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_was_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge,price_range,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,both,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,both,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,both,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,both,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,both,Mid-range product,Mid-range product

####  Repeat process using .loc() on entire df (df_ords_prods_merged)

In [17]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

####  If-Statements with Four-Loops

In [21]:
# Which day do most/least orders take place
# Sat / Wed

df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [22]:
# Create a new column, “busiest day,” that will contain one of three different values: “Busiest day,” “Least busy,” 
# and “Regularly busy.”


result = []     # empty list, will receive results from loop

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
# Create new column and set it equal to result

df_ords_prods_merged['busiest_day'] = result

In [24]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [25]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_was_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,both,Mid-range product,Least busy

In [26]:
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['_merge'])

In [27]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_was_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy

##  4.7: Task

####  2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [28]:
result2 = []     # empty list, will receive results from loop

for value in df_ords_prods_merged["orders_day_of_week"]:
  if (value == 0) or (value == 1):
    result2.append("Busiest days")
  elif (value == 4) or (value == 3):
    result2.append("Slowest days")
  else:
    result2.append("Regularly day")

In [29]:
# Create new busiest days column and set it equal to result2

df_ords_prods_merged['busiest_days'] = result2

In [30]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [31]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly day    12916111
Busiest days     11864412
Slowest days      7624336
Name: busiest_days, dtype: int64

####  3. Check the values of this new column for accuracy. Note any observations in markdown format.
        The results appear to be accurate and are proportionally similar to the previous results. Regular days are still
        the most prevalent, followed by Busiest days and then slowest days.

####  4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [32]:
# What are the busiest hours of the day for orders?
# Will break this into 3rds (each with 8 hours)
# 10, 11, 14, 15, 13, 12, 16, 9
# 17, 8, 18, 19, 20, 7, 21, 22 
# 23, 6, 0, 1, 5, 2, 4, 3

df_ords_prods_merged['hour_order_was_placed'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: hour_order_was_placed, dtype: int64

In [33]:
# Create lists for the hour groups

group1 = [10, 11, 14, 15, 13, 12, 16, 9]
group2 = [17, 8, 18, 19, 20, 7, 21, 22] 
group3 = [23, 6, 0, 1, 5, 2, 4, 3]

In [34]:
# Use for-loops with if-statements
# if value in list (group1, group2, group3)


result3 = []     # empty list, will receive results from loop

for value in df_ords_prods_merged["hour_order_was_placed"]:
  if value in group1:
    result3.append("Most orders")
  elif value in group2:
    result3.append("Average orders")
  else:
    result3.append("Fewest orders")

In [35]:
# Create new busiest_period_of_day column and set it equal to result3

df_ords_prods_merged['busiest_period_of_day'] = result3

####  5. Print the frequency for this new column.

In [36]:
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [37]:
df_ords_prods_merged.shape

(32404859, 16)

In [38]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_was_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,Mid-range product,Regularly busy,Regularly day,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

In [39]:
#  Export df_ords_prods_merged to Prepared folder in .pkl format  (name changed to df_ords_prods_merged_4-7)

df_ords_prods_merged.to_pickle(os.path.join(path_prep, 'orders_products_merged_4-7.pkl'))

In [40]:
df_ords_prods_merged.shape

(32404859, 16)